<HTML>
  <HEAD>
    {% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'narvaro/formatmall.css' %}" />
  </HEAD>
 <BODY>
&Ouml;vningen den <b>{{ session }}</b> n&auml;rvarade <b>{{ percent }} %</b> av alla medlemmar. 
<p>
</p>
        <table width="100%" border="0">
          <tbody>
            <tr>
              <td width="12%">Antal GK: </td>
              <td width="88%">{{gk}}</td>
            </tr>
            <tr>
              <td>Antal FK: </td>
              <td>{{fk}}</td>
            </tr>
            <tr>
              <td>Antal LK: </td>
              <td>{{lk}}</td>
            </tr>
          </tbody>
        </table>
 <blockquote>
 <blockquote>
 </blockquote>     
        
        
  </BODY>
</HTML>