<HTML>
  <HEAD>
    {% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'formatmall.css' %}" />
  </HEAD>
 <BODY>
 <div id="sessions">
&Ouml;vningen/Lektionen den <b>{{ session }}</b> n&auml;rvarade <b>{{ percent }} %</b> av alla medlemmar, dvs <b>{{ antal }}</b>st.
</div>
<blockquote>
</blockquote>

<table summary="personer">
<tr><th>Närvarande personer</th>
{% for person in alla %}
    	<tr><td> {{	person }} </td></td>
{% endfor %}
</table>
<p>
</p>

<p>
</p>
<div id="link">
<a href="{% url 'home' %}"> Tillbaka </a>     
</div>
</BODY>
</HTML>