<HTML>
  <HEAD>
    {% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'narvaro/formatmall.css' %}" />
  </HEAD>
 <BODY>
<p>
</p>
<h2>Registrerade medlemmar:</h2>
        <table width="100%" border="0">
          <tbody>
            <tr>
              <td width="12%">Antal GK: </td>
              <td width="88%">{{gk}}</td>
            </tr>
            <tr>
              <td>Antal FK: </td>
              <td>{{fk}}</td>
            </tr>
            <tr>
              <td>Antal LK: </td>
              <td>{{lk}}</td>
            </tr>
          </tbody>
        </table>
 <blockquote>
        </blockquote>
	<h2><p>Sparade närvarorapporter:</p></h2>

    	{% for session in s %}
        <br>

           	<a href="{% url 'percent' session.id %}">
            	&Ouml;vningen/lektionen den {{ session.date }}
            </a>

        </br>
		{% endfor %}  

  </BODY>
</HTML>